:host {
  display: none;
  width: 100%;
  height: 100%;
  max-height: 0px;

  &::before {
    background-color: black;
    opacity: 0.5;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    position: fixed;
  }
}
:host(.-visible) {
  display: block;
}

.k-modal {
  display: none;
  width: 100%;
  height: 100%;
  max-height: 0px;
  top: 0;
  left: 0;
  position: fixed;

  &::before {
    background-color: black;
    opacity: 0.5;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    position: fixed;
  }
}

.k-modal.-visible {
  display: block;
  max-height: 100%;
  transform: translateY(0);
}

.k-modal-dialog {
  min-width: 40%;
  min-height: 25%;
  transform: translateY(-50%);
  transition-duration: 300ms;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 50;
  opacity: 1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.k-modal-dialog__header .title {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
