body {
  background: rgb(49, 105, 116);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.kartal {
  color: rgb(228, 115, 24);
  font-size: 144px;
  font-weight: 900;
  font-style: oblique;
  font-family: Georgia, "Times New Roman", Times, serif;
  border: 1px solid rgb(228, 115, 24);
  padding: 1rem;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-width: 8px;
  width: fit-content;
  text-transform: capitalize;
}

.k-modal-dialog__header {
  font-size: 45px;
}
